/_build
/db
/deps
/*.ez

erl_crash.dump

/config/prod.secret.exs
/config/dev.secret.exs
/config/test.secret.exs

/priv/static/css/application.css
/priv/static/js/application.js
priv/static

/node_modules

*.log
