use Mix.Config

config :regler, Regler.Endpoint,
  secret_key_base: "xxxx"

# Configure your database
config :regler, Regler.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "xxxx",
  password: "xxxx",
  database: "xxxx",
  hostname: "localhost",
  pool_size: 10


config :guardian, Guardian,
  secret_key: "xxxx"
